name: CI Check

on:
  pull_request:

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install dependencies
        run: |
          make

      - name: Run linter
        run: |
          make lint

      - name: Set up environment variables tests
        run : echo "WALLET_TEST_PRIVATE_KEY=${{ secrets.WALLET_TEST_PRIVATE_KEY }}" >> $GITHUB_ENV

      - name: Run tests
        run: |
          make test

      - name: Run build
        run: |
          make build
